.portableTextContainer {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  gap: 1.2rem;

  h1 {
    font-size: 2.6rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 30px;
  }
  a {
    text-decoration: underline;
    font-weight: bold;
  }
}
